:root{
    --bleu:#2B87DA;
}

html {
    box-sizing: border-box;
    font-family:'Roboto';
}

img{
    max-width:200px;
    max-height:200px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

nav {
    padding:0 10px;
    display:flex;
    justify-content: space-between;
    align-items:center;

}

ul{
    list-style:none;
}

nav ul {
    display:flex;
}

#hero{
    padding-top:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
    overflow-y:auto;
}

#projets ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:center;
    align-items:center;
}

#img-tete{
    max-width:120px;
    height:auto;
}

.container{
    position:relative;
}

.cover-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.btn-large{
    cursor:pointer;
    transition:all 1s smooth;
    background-color: var(--bleu);
    border:1px solid white;
    height:2rem;
    color:white;
    border-radius:10px;
}

.btn-large:hover{
    background-color:#fff;
    border:1px solid var(--bleu);
    color:teal;
}